.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.imgForm img {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 920px) {
  .form {
    grid-template-columns: 1fr ;
  }
}
